*{
    font-family: 'Poppons',sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-transform: none;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    overflow-x: hidden;
}

.container{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-bottom: 60px;
    background: url(images/bg.gif)no-repeat;
    background-size: cover;
}

.container .open-btn{
    background: #fff;
    color: #333;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
    cursor: pointer;
}

.container .open-btn:hover{
    letter-spacing: 4px;
}

.container .open-btn:active{
    box-shadow: none;
    transform: scale(.9);
}
.sidebar{
    width: 250px;
    position: fixed;
    bottom: 1px;
    left: -400px;
    height: 100%;
    z-index: 1000;
    background: #4e7586;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
    padding: 15px;
}

.sidebar.active{
    left: 1px;
}
.sidebar header{
    font-size: 23px;
    color: white;
    text-align: center;
    line-height: 50px;
    background: #2A5366;
    border-radius: 10px;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
    
ul li:hover a{
    padding-left: 50px;
}
    
.sidebar ul a i{
    margin-right: 16px;
}

a{
    position: relative;
    text-decoration: none;
}

a:after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}

a:hover{
    color: white;
}

a:hover:after{
    width: 100%;
}

.sidebar .close-btn{
    position: absolute;
    top: 10px;right: 25px;
    font-size: 40px;
    color: #999;
    cursor: pointer;
}
.sidebar .close-btn:hover{
    color: #333;
}

.taskbox {
    background: rgb(255, 255, 255);
    width: 550px;
    position: fixed;
    overflow: hidden;
    bottom: 250px;
    left: 250px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(255, 0, 0, 0.2);
    display:none;
}
.stopwatchbox{
    background: rgb(255, 255, 255);
    width: 550px;
    position: fixed;
    overflow: hidden;
    bottom: 250px;
    left: 250px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(255, 0, 0, 0.2);
    display:none;
}
.musicbox{
    background: rgb(255, 255, 255);
    width: 550px;
    position: fixed;
    overflow: hidden;
    bottom: 250px;
    left: 250px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(255, 0, 0, 0.2);
    display:none;
}

.overviewbox{
    background: rgb(255, 255, 255);
    width: 550px;
    position: fixed;
    overflow: hidden;
    bottom: 250px;
    left: 250px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(255, 0, 0, 0.2);
    display:none;
}

.pomodorobox{
    background: rgb(151, 150, 150);
    width: 550px;
    position: fixed;
    overflow: hidden;
    bottom: 250px;
    left: 250px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(255, 0, 0, 0.2);
    display:none;
}

.dictionarybox{
    background: rgb(255, 255, 255);
    width: 550px;
    position: fixed;
    overflow: hidden;
    bottom: 250px;
    left: 250px;
    height: 550px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(255, 0, 0, 0.2);
    display:none;
}
.drag-bar {
    height: 30px;
    width: 100%;
    background-color: #d8dadb;
}

.content {
    height: calc(100% - 30px);
    width: 100%;
    background-color: #f1f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Four-sided draggable area */

.edge {
    display: inline-block;
    position: absolute;
    z-index: 10;
}

.edge-bottom {
    width: 100%;
    height: 4px;
    bottom: -2px;
}

.edge-top {
    width: 100%;
    height: 4px;
    top: -2px;
}

.edge-top:hover,
.edge-bottom:hover {
    cursor: row-resize;
}

.edge-left {
    height: 100%;
    width: 4px;
    left: -2px;
    top: 0;
}

.edge-right {
    height: 100%;
    width: 4px;
    right: -2px;
    top: 0;
}

.edge-left:hover,
.edge-right:hover {
    cursor: col-resize;
}
/* four corners */

.corner {
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 11;
}

.corner:hover {
    cursor: move;
}

.corner-lt {
    top: -2px;
    left: -2px;
}

.corner-lb {
    bottom: -2px;
    left: -2px;
}

.corner-rt {
    top: -2px;
    right: -2px;
}

.corner-rb {
    bottom: -2px;
    right: -2px;
}

* {
    user-select: none;
}

.a-out,
.b-out,
.c-out,
.d-out,
.e-out,
.f-out,
.w-narrow,
.w-ext {
    position: absolute;
    display: flex;
    width: 11px;
    height: 11px;
    background-color: #9b9b9b;
    border-radius: 50px;
    top: 10px;
    box-shadow: 0 0 1px 0.3px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.a-out {
    left: 18px;
    background-color: #ff5f57;
}

.a-out:hover:before {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    position: absolute;
    top: 4.3px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(45deg);
}

.a-out:hover:after {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    ;
    position: absolute;
    top: 4.7px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(-45deg);
}

.b-out {
    left: 18px;
    background-color: #ff5f57;
}

.b-out:hover:before {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    position: absolute;
    top: 4.3px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(45deg);
}

.b-out:hover:after {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    ;
    position: absolute;
    top: 4.7px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(-45deg);
}

.c-out {
    left: 18px;
    background-color: #ff5f57;
}

.c-out:hover:before {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    position: absolute;
    top: 4.3px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(45deg);
}

.c-out:hover:after {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    ;
    position: absolute;
    top: 4.7px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(-45deg);
}

.d-out {
    left: 18px;
    background-color: #ff5f57;
}

.d-out:hover:before {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    position: absolute;
    top: 4.3px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(45deg);
}

.d-out:hover:after {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    ;
    position: absolute;
    top: 4.7px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(-45deg);
}

.e-out {
    left: 18px;
    background-color: #ff5f57;
}

.e-out:hover:before {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    position: absolute;
    top: 4.3px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(45deg);
}

.e-out:hover:after {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    ;
    position: absolute;
    top: 4.7px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(-45deg);
}

.f-out {
    left: 18px;
    background-color: #ff5f57;
}

.f-out:hover:before {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    position: absolute;
    top: 4.3px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(45deg);
}

.f-out:hover:after {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    ;
    position: absolute;
    top: 4.7px;
    left: 1.6px;
    width: 8px;
    height: 1.15px;
    transform: rotate(-45deg);
}
.w-narrow {
    left: 37px;
    background-color: #febc2e;
}

.w-narrow:hover::before {
    content: "";
    background-color: rgba(32, 28, 28, 0.782);
    position: absolute;
    top: 5px;
    left: 1.4px;
    width: 8px;
    border-radius: 1px;
    height: 1.5px;
}

.w-ext {
    left: 56px;
    background-color: #29c940;
}

.w-ext:hover::before {
    content: "";
    background-color: #004e00;
    position: absolute;
    display: block;
    top: 2px;
    left: 1.8px;
    width: 7px;
    height: 7px;
    border-radius: 1px;
}

.w-ext:hover::after {
    content: "";
    background-color: #29c940;
    position: absolute;
    display: block;
    top: 4.5px;
    left: 0.8px;
    width: 10px;
    height: 2px;
    transform: rotate(-45deg);
}